 .maindiv{
   margin-left:5%;
  
   width:auto;
   height:400px;
    margin-right:20%;
   
 } 
 ul{
    
    color:black;
 }
  
 li
 {
   list-style:none;
   display:inline;
   margin-left:10%;
   padding:3px;
   font-size:20px;
   color:blue; font-weight:bold;
   border:4px blue   dashed;
 }
 .divlogo{
   
   margin-left:10%
 }
.image{
  margin:0 auto;
  height:50px;
  margin-top:5%;
}
.formdiv{
  background:white;
  text-align:center;
  margin:5%;
 
  text-align:center;
}
a{
  text-decoration:none;color:blue;
}
a:hover{
  background:blue;
  color:white;padding:0;
}
.input-fields{
   margin-top:3%;
   padding:5px;
   border:2px solid skyblue;
   border-radius:5px;
   text-align:center;
}
 .inputfield{
  
   height:30px;
   color:black;
   font-size:20px;
   width:60%;
   text-align:center;
   margin-left:5%;
   padding:5px;
   outline:none;
   border:1px solid grey;
   border-radius:10px;
   
    margin-top:5%;
 }
 .buttondiv{
   text-align:center;
   margin-top:5%;margin-bottom:5%;
 }
 .submitbutton{
  border:none;
  border-radius:10px;
  height:40px;
  width:200px;
  font-size:20px;
  outline:none;
  cursor:pointer;
  background:skyblue;
  color:white;
   }
   .submitbutton:hover{
     font-size:25px;
   }
   .inputbox{
     margin-top:5%;
     width:80%; 
    margin-left:10%;margin:0 auto;
    border:2px solid skyblue;
   }
   .searching{
     margin:0 auto;
   }
   .searchform{
     margin:0 auto;
     text-align:center;
   }
   .inputsearchfield{
     margin-left:20%;
   }
   .searchbutton{
     margin:0 auto;
   }
   .buttondiv{
     margin-left:0;
   }