 .maindiv{
   margin-left:10%;
   margin-top:5%;
   width:auto;
   height:400px;
    margin-right:20%;
   
   background:lightgrey;
 }
 
 ul{
    text-decoration:none;
    color:black;
 }
 li
 {
   list-style:none;
   display:inline;
   margin-left:10%;
   font-size:20px;
   color:blue; 
 }
 .divlogo{
   
   margin-left:10%
 }
.image{
  margin:0 auto;
  height:50px;
  margin-top:5%;
}
.formdiv{
  background:white;
 margin:5%;
 
  text-align:center;
}
.input-fields{
margin-top:3%;
}
 .inputfield{
   height:30px;
   color:black;
   font-size:20px;
   width:60%;
   text-align:center;
   margin-left:5%;
   padding:5px;
   outline:none;
   border:none;
   border-bottom:1px solid black
 }
 .buttondiv{
   text-align:center;
   margin-top:5%;margin-bottom:5%;
 }
 .submitbutton{
  border:none;
  height:30px;
  font-size:20px;
  outline:none;
  cursor:pointer;
  background:skyblue;
  color:white;
   }
   .inputbox{
     margin-top:5%;
    margin-left:10%
   }
   .searching{
     margin:0 auto;
   }